<!-- Channel -->
<Channel::Container
@channel={{this.model}} as |messages api|>

  <!-- Channel Header -->
  <Channel::Header
   id="channel-header"
   class="bg-blue"
   @title="{{this.model.name}}"
   @description="{{this.model.description}}"/> <!-- named argument -->

  <!-- Channel Message List -->
  <div class="py-4 flex-1 overflow-y-scroll channel-messages-list" role="list">
    {{#each messages as |m|}}
    <Channel::Message @message={{m}}
    @delete={{fn api.actions.deleteMessage m.id}}/>
    {{/each}}
  </div>
  <Channel::Footer @create={{api.actions.createMessage}}/>

</Channel::Container>